<div class="container-xxl">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="https://yt3.googleusercontent.com/73Msdb-1LmWbH2LPOkyFw9nQFqTyh2LoY5A7EE7fjS96gig33N4ud0wQpVnZizA-vK1AQxlz=s900-c-k-c0x00ffffff-no-rj"
                class="img-fluid rounded-circle" alt="4geeks logo" width="400" height="400">
        </div>
        <div class="col-lg-6">
            <h1 class="mt-4"><b>This First Heading </b> <span class="text-secondary">Catch Your Eye</span></h1>
            <p class="lead mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti harum quia at dolorum
                expedita exercitationem rerum tenetur, aliquam nam obcaecati provident sint quas libero porro soluta non
                nemo repudiandae nisi.</p>
        </div>
    </div>
</div>
