<div class="container">
    <h1>Portfolio</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia sequi animi obcaecati doloremque alias blanditiis ea dolores, quaerat nobis provident et fugiat, mollitia nam commodi asperiores laboriosam, placeat repellat sapiente.</p>
    <div class="row align-items-center">
      <div class="col">
        <div class="card w-100" >
            <img src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcRYT2_qpM81JX8FdDi53mc-ZNIGhwVGlDtG5uTuuHU9K6rTaRZqONIPL7tEiwLb8t4D4mBbt0-UL5ijZBU" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="#">Project Name</a></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card w-100" >
            <img src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcRYT2_qpM81JX8FdDi53mc-ZNIGhwVGlDtG5uTuuHU9K6rTaRZqONIPL7tEiwLb8t4D4mBbt0-UL5ijZBU" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="#">Project Name</a></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            </div>
          </div>
      </div>
      <div class="col">
        <div class="card w-100" >
            <img src="https://encrypted-tbn2.gstatic.com/licensed-image?q=tbn:ANd9GcRYT2_qpM81JX8FdDi53mc-ZNIGhwVGlDtG5uTuuHU9K6rTaRZqONIPL7tEiwLb8t4D4mBbt0-UL5ijZBU" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title"><a href="#">Project Name</a></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              
            </div>
          </div>
      </div>
    </div>
   
  </div>
